#shopify .imgListShopify {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 400px);

  /* vẽ mô hình trong đầu , xác định hình */
  grid-template-areas:
    "h1 h1 h2"
    "h3 h3 h2"
    "h5 h4 h4"
    "h5 h6 h6";
}

#shopify .imgShopify:first-child {
  grid-area: h1;
}
#shopify .imgShopify:nth-child(2) {
  grid-area: h2;
}
#shopify .imgShopify:nth-child(3) {
  grid-area: h3;
}
#shopify .imgShopify:nth-child(4) {
  grid-area: h4;
}
#shopify .imgShopify:nth-child(5) {
  grid-area: h5;
}
#shopify .imgShopify:last-child {
  grid-area: h6;
}

@media (max-width: 786px) {
  #shopify .imgListShopify {
    display: flex;
    flex-direction: column;
  }
  #shopify .imgShopify {
    width: 100%;
  }
  #shopify .imgShopify:nth-child(2) {
    display: none;
  }
  #shopify .imgShopify:nth-child(5) {
    display: none;
  }
}
