
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
	.container {
		@apply px-6
	}
}

.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i,
.j,
.k,
.l,
.m,
.n,
.o,
.p {
	position: relative;
	padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}
.a > *,
.b > *,
.c > *,
.d > *,
.e > *,
.f > *,
.g > *,
.h > *,
.i > *,
.j > *,
.k > *,
.l > *,
.m > *,
.n > *,
.o > *,
.p > * {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.a {
	--tw-aspect-w: 1;
}
.c {
	--tw-aspect-w: 3;
}
.d {
	--tw-aspect-w: 4;
}
.q {
	--tw-aspect-h: 1;
}
.r {
	--tw-aspect-h: 2;
}
.s {
	--tw-aspect-h: 3;
}
.t {
	--tw-aspect-h: 4;
}
.u {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.v {
	pointer-events: none;
}
.w {
	position: fixed;
}
.x {
	position: absolute;
}
.y {
	position: relative;
}
.z {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
.ab {
	top: -6rem;
	right: -6rem;
	bottom: -6rem;
	left: -6rem;
}
.bb {
	left: 0px;
	right: 0px;
}
.cb {
	top: 0px;
	bottom: 0px;
}
.db {
	top: 0px;
}
.eb {
	right: 0px;
}
.fb {
	top: -0.25rem;
}
.gb {
	left: -0.25rem;
}
.hb {
	left: 50%;
}
.ib {
	bottom: 2.5rem;
}
.jb {
	left: 0px;
}
.kb {
	left: 0.75rem;
}
.lb {
	top: 0.75rem;
}
.mb {
	bottom: 1.5rem;
}
.nb {
	right: 0.75rem;
}
.ob {
	bottom: 0px;
}
.pb {
	top: 1.25rem;
}
.qb {
	left: 1.25rem;
}
.rb {
	top: 1rem;
}
.sb {
	right: 1rem;
}
.tb {
	z-index: 10;
}
.ub {
	grid-column: span 2 / span 2;
}
.vb {
	grid-column: span 4 / span 4;
}
.wb {
	margin: -0.5rem;
}
.xb {
	margin: -0.25rem;
}
.yb {
	margin: auto;
}
.zb {
	margin-left: auto;
	margin-right: auto;
}
.ac {
	margin-top: -1.75rem;
	margin-bottom: -1.75rem;
}
.bc {
	margin-top: -1.25rem;
	margin-bottom: -1.25rem;
}
.cc {
	margin-top: -1.5rem;
	margin-bottom: -1.5rem;
}
.dc {
	margin-top: -2rem;
	margin-bottom: -2rem;
}
.ec {
	margin-top: 0.25rem;
}
.fc {
	margin-left: 0.625rem;
}
.gc {
	margin-left: 0.5rem;
}
.hc {
	margin-top: 1.5rem;
}
.ic {
	margin-top: 1.75rem;
}
.jc {
	margin-left: 1.25rem;
}
.kc {
	margin-top: 0.375rem;
}
.lc {
	margin-top: 0.75rem;
}
.mc {
	margin-left: 1rem;
}
.nc {
	margin-top: 2rem;
}
.oc {
	margin-top: 1rem;
}
.pc {
	margin-top: 1.25rem;
}
.qc {
	margin-left: 0.375rem;
}
.rc {
	margin-left: 0.25rem;
}
.sc {
	margin-left: auto;
}
.tc {
	margin-right: 0.375rem;
}
.uc {
	margin-right: 0.25rem;
}
.vc {
	margin-top: 0.5rem;
}
.wc {
	margin-top: 6rem;
}
.xc {
	margin-top: -0.125rem;
}
.yc {
	margin-top: 0px;
}
.zc {
	margin-top: 0.625rem;
}
.bd {
	margin-top: 3rem;
}
.cd {
	margin-left: 0.125rem;
}
.dd {
	margin-left: 0px;
}
.ed {
	margin-left: 0.75rem;
}
.fd {
	margin-top: 2.25rem;
}
.gd {
	margin-right: 0.5rem;
}
.hd {
	margin-right: 0.625rem;
}
.id {
	margin-left: -0.25rem;
}
.jd {
	margin-right: -0.125rem;
}
.kd {
	margin-right: 0px;
}
.ld {
	margin-right: -0.25rem;
}
.md {
	margin-top: 2.5rem;
}
.nd {
	margin-left: 1.5rem;
}
.od {
	margin-top: 0.125rem;
}
.pd {
	margin-top: 0px;
}
.qd {
	margin-top: auto;
}
.rd {
	display: block;
}
.sd {
	display: flex;
}
.td {
	display: inline-flex;
}
.ud {
	display: flow-root;
}
.vd {
	display: grid;
}
.wd {
	display: inline-grid;
}
.xd {
	display: none;
}
.yd {
	height: 100%;
}
.zd {
	height: 1.5rem;
}
.ae {
	height: 4rem;
}
.be {
	height: 1.25rem;
}
.ce {
	height: 6rem;
}
.de {
	height: 1rem;
}
.ee {
	height: 2rem;
}
.fe {
	height: 2.25rem;
}
.ge {
	height: 3.5rem;
}
.he {
	height: 3rem;
}
.ie {
	height: 2.5rem;
}
.je {
	height: 5rem;
}
.ke {
	height: 2.75rem;
}
.le {
	height: 24rem;
}
.me {
	height: 1px;
}
.ne {
	height: 0.75rem;
}
.oe {
	height: 7rem;
}
.pe {
	height: 0.5rem;
}
.qe {
	min-height: 100vh;
}
.re {
	width: 100%;
}
.se {
	width: 1.5rem;
}
.te {
	width: 4rem;
}
.ue {
	width: 5rem;
}
.ve {
	width: 1.25rem;
}
.we {
	width: 6rem;
}
.xe {
	width: 1rem;
}
.ye {
	width: auto;
}
.ze {
	width: 2.25rem;
}
.af {
	width: 3.5rem;
}
.bf {
	width: 3rem;
}
.cf {
	width: 2.5rem;
}
.df {
	width: 1px;
}
.ef {
	width: 2.75rem;
}
.ff {
	width: 0.75rem;
}
.gf {
	width: 2rem;
}
.hf {
	width: 33.333333%;
}
.if {
	width: 7rem;
}
.jf {
	width: 11rem;
}
.kf {
	width: 0.5rem;
}
.lf {
	max-width: 80rem;
}
.mf {
	max-width: 72rem;
}
.nf {
	max-width: 42rem;
}
.of {
	max-width: 24rem;
}
.pf {
	max-width: 20rem;
}
.qf {
	max-width: 36rem;
}
.rf {
	max-width: 56rem;
}
.sf {
	max-width: 32rem;
}
.tf {
	max-width: 28rem;
}
.uf {
	max-width: 64rem;
}
.vf {
	flex: 1 1 0%;
}
.wf {
	flex: none;
}
.xf {
	flex-shrink: 0;
}
.yf {
	flex-grow: 1;
}
.zf {
	transform-origin: bottom;
}
.ag {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}
.bg {
	--tw-translate-y: 100%;
	transform: var(--tw-transform);
}
.cg {
	--tw-translate-x: 100%;
	transform: var(--tw-transform);
}
.dg {
	transform: var(--tw-transform);
}
.eg {
	cursor: pointer;
}
.fg {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.gg {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.hg {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.ig {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
.jg {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.kg {
	flex-direction: column;
}
.lg {
	flex-wrap: wrap;
}
.mg {
	flex-wrap: nowrap;
}
.ng {
	place-items: center;
}
.og {
	align-items: flex-start;
}
.pg {
	align-items: flex-end;
}
.qg {
	align-items: center;
}
.rg {
	align-items: stretch;
}
.sg {
	justify-content: flex-start;
}
.tg {
	justify-content: flex-end;
}
.ug {
	justify-content: center;
}
.vg {
	justify-content: space-between;
}
.wg {
	gap: 1rem;
}
.xg {
	gap: 1.25rem;
}
.yg {
	gap: 0.625rem;
}
.zg {
	gap: 0.5rem;
}
.ah {
	gap: 4rem;
}
.bh {
	gap: 2rem;
}
.ch {
	gap: 0.75rem;
}
.dh {
	gap: 1.5rem;
}
.eh {
	gap: 1.75rem;
}
.fh {
	row-gap: 2.5rem;
}
.gh {
	row-gap: 1.25rem;
}
.hh {
	-moz-column-gap: 0.375rem;
	     column-gap: 0.375rem;
}
.ih {
	-moz-column-gap: 0.25rem;
	     column-gap: 0.25rem;
}
.jh {
	-moz-column-gap: 2rem;
	     column-gap: 2rem;
}
.kh {
	row-gap: 1.5rem;
}
.lh {
	-moz-column-gap: 1.5rem;
	     column-gap: 1.5rem;
}
.mh {
	row-gap: 2rem;
}
.nh {
	row-gap: 3rem;
}
.oh {
	row-gap: 4rem;
}
.ph {
	-moz-column-gap: 4rem;
	     column-gap: 4rem;
}
.qh {
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
}
.rh {
	-moz-column-gap: 3.5rem;
	     column-gap: 3.5rem;
}
.sh {
	-moz-column-gap: 3rem;
	     column-gap: 3rem;
}
.th {
	row-gap: 1rem;
}
.uh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.vh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.5rem * var(--tw-space-x-reverse));
	margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.wh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.25rem * var(--tw-space-x-reverse));
	margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.xh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.yh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.zh > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.ai > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(2rem * var(--tw-space-x-reverse));
	margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.bi > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.125rem * var(--tw-space-x-reverse));
	margin-left: calc(0.125rem * calc(1 - var(--tw-space-x-reverse)));
}
.ci > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0px * var(--tw-space-x-reverse));
	margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
}
.di > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.625rem * var(--tw-space-x-reverse));
	margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}
.ei > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.fi > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}
.gi > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.hi > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}
.ii > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.ji > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1px * var(--tw-space-x-reverse));
	margin-left: calc(1px * calc(1 - var(--tw-space-x-reverse)));
}
.ki > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.li > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.5rem * var(--tw-space-x-reverse));
	margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.mi > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2.25rem * var(--tw-space-y-reverse));
}
.ni > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.75rem * var(--tw-space-x-reverse));
	margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.oi > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.pi > :not([hidden]) ~ :not([hidden]) {
	border-style: dotted;
}
.qi > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-divide-opacity));
}
.ri > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-opacity: 1;
	border-color: rgba(63, 63, 70, var(--tw-divide-opacity));
}
.si {
	overflow: auto;
}
.ti {
	overflow: hidden;
}
.ui {
	overflow-x: auto;
}
.vi {
	overflow-y: auto;
}
.wi {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.xi {
	white-space: nowrap;
}
.yi {
	border-radius: 0.5rem;
}
.zi {
	border-radius: 0.375rem;
}
.aj {
	border-radius: 0.25rem;
}
.bj {
	border-radius: 9999px;
}
.cj {
	border-radius: 0.75rem;
}
.dj {
	border-radius: 1rem;
}
.ej {
	border-radius: 0.125rem;
}
.fj {
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.gj {
	border-width: 1px;
}
.hj {
	border-width: 2px;
}
.ij {
	border-bottom-width: 1px;
}
.jj {
	border-bottom-width: 2px;
}
.kj {
	border-top-width: 1px;
}
.lj {
	border-left-width: 1px;
}
.mj {
	border-right-width: 1px;
}
.nj {
	border-style: dashed;
}
.oj {
	border-style: none;
}
.pj {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.qj {
	--tw-border-opacity: 1;
	border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}
.rj {
	border-color: transparent;
}
.sj {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.tj {
	--tw-border-opacity: 1;
	border-color: rgba(113, 113, 122, var(--tw-border-opacity));
}
.uj {
	--tw-border-opacity: 1;
	border-color: rgba(63, 63, 70, var(--tw-border-opacity));
}
.vj {
	--tw-border-opacity: 1;
	border-color: rgba(244, 244, 245, var(--tw-border-opacity));
}
.wj {
	--tw-border-opacity: 1;
	border-color: rgba(39, 39, 42, var(--tw-border-opacity));
}
.xj {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.yj {
	--tw-border-opacity: 1;
	border-color: rgba(30, 64, 175, var(--tw-border-opacity));
}
.zj {
	--tw-border-opacity: 1;
	border-color: rgba(180, 83, 9, var(--tw-border-opacity));
}
.ak {
	--tw-border-opacity: 1;
	border-color: rgba(153, 27, 27, var(--tw-border-opacity));
}
.bk {
	--tw-border-opacity: 1;
	border-color: rgba(217, 119, 6, var(--tw-border-opacity));
}
.ck {
	--tw-bg-opacity: 1;
	background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.dk {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.ek {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.fk {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.gk {
	background-color: transparent;
}
.hk {
	--tw-bg-opacity: 1;
	background-color: rgba(161, 161, 170, var(--tw-bg-opacity));
}
.ik {
	--tw-bg-opacity: 1;
	background-color: rgba(204, 251, 241, var(--tw-bg-opacity));
}
.jk {
	--tw-bg-opacity: 1;
	background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}
.kk {
	--tw-bg-opacity: 1;
	background-color: rgba(113, 113, 122, var(--tw-bg-opacity));
}
.lk {
	--tw-bg-opacity: 1;
	background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
}
.mk {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}
.nk {
	background-color: rgba(24, 24, 27, 0.7);
}
.ok {
	background-color: rgba(24, 24, 27, 0.5);
}
.pk {
	background-color: rgba(255, 255, 255, 0.9);
}
.qk {
	--tw-bg-opacity: 1;
	background-color: rgba(249, 115, 22, var(--tw-bg-opacity));
}
.rk {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}
.sk {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 233, 66, var(--tw-bg-opacity));
}
.tk {
	--tw-bg-opacity: 1;
	background-color: rgba(39, 39, 42, var(--tw-bg-opacity));
}
.uk {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.vk {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}
.wk {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}
.xk {
	--tw-bg-opacity: 1;
	background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}
.yk {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 215, 170, var(--tw-bg-opacity));
}
.zk {
	--tw-bg-opacity: 1;
	background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
}
.al {
	--tw-bg-opacity: 1;
	background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}
.bl {
	--tw-bg-opacity: 0.4;
}
.cl {
	background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.dl {
	--tw-gradient-from: #000;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(0, 0, 0, 0));
}
.el {
	--tw-gradient-stops: var(--tw-gradient-from), transparent, var(--tw-gradient-to, rgba(0, 0, 0, 0));
}
.fl {
	--tw-gradient-to: transparent;
}
.gl {
	-o-object-fit: contain;
	   object-fit: contain;
}
.hl {
	-o-object-fit: cover;
	   object-fit: cover;
}
.il {
	-o-object-position: right bottom;
	   object-position: right bottom;
}
.jl {
	-o-object-position: right;
	   object-position: right;
}
.kl {
	padding: 0.5rem;
}
.ll {
	padding: 0.25rem;
}
.ml {
	padding: 1rem;
}
.nl {
	padding: 1.5rem;
}
.ol {
	padding: 2rem;
}
.pl {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.ql {
	padding-left: 1rem;
	padding-right: 1rem;
}
.rl {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.sl {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
}
.tl {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.ul {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.vl {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}
.wl {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.xl {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.yl {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.zl {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.am {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}
.bm {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.cm {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.dm {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.em {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.fm {
	padding-left: 2rem;
	padding-right: 2rem;
}
.gm {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.hm {
	padding-top: 0px;
	padding-bottom: 0px;
}
.im {
	padding-left: 1.75rem;
	padding-right: 1.75rem;
}
.jm {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.km {
	padding-left: 4rem;
	padding-right: 4rem;
}
.lm {
	padding-left: 3rem;
	padding-right: 3rem;
}
.mm {
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}
.nm {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.om {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.pm {
	padding-right: 2.25rem;
}
.qm {
	padding-left: 1rem;
}
.rm {
	padding-right: 2rem;
}
.sm {
	padding-left: 0.75rem;
}
.tm {
	padding-right: 2.5rem;
}
.um {
	padding-right: 1rem;
}
.vm {
	padding-top: 4rem;
}
.wm {
	padding-bottom: 2.5rem;
}
.xm {
	padding-top: 1.5rem;
}
.ym {
	padding-top: 3rem;
}
.zm {
	padding-left: 0px;
}
.an {
	padding-top: 5rem;
}
.bn {
	padding-bottom: 2rem;
}
.cn {
	padding-left: 2.5rem;
}
.dn {
	padding-top: 1.25rem;
}
.en {
	padding-right: 1.5rem;
}
.fn {
	padding-bottom: 1.5rem;
}
.gn {
	text-align: left;
}
.hn {
	text-align: center;
}
.in {
	text-align: right;
}
.jn {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.kn {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.ln {
	font-size: 1.5rem;
	line-height: 2rem;
}
.mn {
	font-size: 1rem;
	line-height: 1.5rem;
}
.nn {
	font-size: 0.75rem;
	line-height: 1rem;
}
.on {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.pn {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.qn {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.rn {
	font-size: 3rem;
	line-height: 1;
}
.sn {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.tn {
	font-size: 8px;
}
.un {
	font-weight: 500;
}
.vn {
	font-weight: 700;
}
.wn {
	font-weight: 400;
}
.xn {
	text-transform: uppercase;
}
.yn {
	line-height: 1.75rem;
}
.zn {
	line-height: 1.25;
}
.ao {
	line-height: 1.5rem;
}
.bo {
	letter-spacing: 0.1em;
}
.co {
	letter-spacing: 0.025em;
}
.do {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.eo {
	--tw-text-opacity: 1;
	color: rgba(252, 211, 77, var(--tw-text-opacity));
}
.fo {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.go {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.ho {
	--tw-text-opacity: 1;
	color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.io {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.jo {
	--tw-text-opacity: 1;
	color: rgba(250, 250, 250, var(--tw-text-opacity));
}
.ko {
	--tw-text-opacity: 1;
	color: rgba(212, 212, 216, var(--tw-text-opacity));
}
.lo {
	--tw-text-opacity: 1;
	color: rgba(228, 228, 231, var(--tw-text-opacity));
}
.mo {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.no {
	--tw-text-opacity: 1;
	color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.oo {
	--tw-text-opacity: 1;
	color: rgba(251, 191, 36, var(--tw-text-opacity));
}
.po {
	--tw-text-opacity: 1;
	color: rgba(244, 63, 94, var(--tw-text-opacity));
}
.qo {
	--tw-text-opacity: 1;
	color: rgba(16, 185, 129, var(--tw-text-opacity));
}
.ro {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.so::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-placeholder-opacity));
}
.so:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-placeholder-opacity));
}
.so::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-placeholder-opacity));
}
.to {
	caret-color: #18181b;
}
.uo {
	opacity: 0;
}
.vo {
	mix-blend-mode: multiply;
}
.wo {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.xo {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.yo {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.zo {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.ap {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bp {
	--tw-backdrop-blur: blur(16px);
	-webkit-backdrop-filter: var(--tw-backdrop-filter);
	        backdrop-filter: var(--tw-backdrop-filter);
}
.cp {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.dp {
	transition-duration: 200ms;
}
.ep {
	transition-duration: 300ms;
}
.fp:hover {
	z-index: 10;
}
.gp:hover {
	--tw-translate-x: 0.25rem;
	transform: var(--tw-transform);
}
.hp:hover {
	--tw-translate-y: -0.25rem;
	transform: var(--tw-transform);
}
.ip:hover {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.jp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
}
.kp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}
.lp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.mp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}
.np:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.op:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.pp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}
.qp:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.rp:hover {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.sp:hover {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.tp:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.up:hover {
	--tw-text-opacity: 1;
	color: rgba(228, 228, 231, var(--tw-text-opacity));
}
.vp:hover {
	--tw-text-opacity: 1;
	color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.wp:hover {
	--tw-text-opacity: 1;
	color: rgba(244, 63, 94, var(--tw-text-opacity));
}
.xp:hover {
	text-decoration: underline;
}
.yp:hover {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.zp:focus {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.aq:focus {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.bq:focus {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.cq:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}
.dq:focus {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.eq:focus {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.fq:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.gq:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.hq:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.iq:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(24, 24, 27, var(--tw-ring-opacity));
}
.jq:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(113, 113, 122, var(--tw-ring-opacity));
}
.kq:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(255, 255, 255, var(--tw-ring-opacity));
}
.lq:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(63, 63, 70, var(--tw-ring-opacity));
}
.mq:focus {
	--tw-ring-offset-width: 2px;
}
.nq:focus {
	--tw-ring-offset-color: #18181b;
}
.oq:focus {
	--tw-ring-offset-color: #FFE942;
}
.pq:hover .qq {
	--tw-translate-x: 0.25rem;
	transform: var(--tw-transform);
}
.pq:hover .rq {
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
}
.pq:hover .sq {
	--tw-rotate: -3deg;
	transform: var(--tw-transform);
}
.pq:hover .tq {
	--tw-rotate: 3deg;
	transform: var(--tw-transform);
}
.pq:hover .uq {
	--tw-scale-x: 1.25;
	--tw-scale-y: 1.25;
	transform: var(--tw-transform);
}
.pq:hover .vq {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: var(--tw-transform);
}
.pq:hover .wq {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.pq:hover .xq {
	opacity: 1;
}
.pq:hover .yq {
	opacity: 0.8;
}
.pq:focus .zq {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}
.pq:focus .ar {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.pq:focus .br {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.pq:focus .cr {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(24, 24, 27, var(--tw-ring-opacity));
}
@media (min-width: 640px) {

	.dr {
		position: relative;
	}

	.er {
		top: 0px;
		bottom: 0px;
	}

	.fr {
		bottom: 0px;
	}

	.gr {
		top: auto;
	}

	.hr {
		top: 0px;
	}

	.ir {
		bottom: auto;
	}

	.jr {
		order: 2;
	}

	.kr {
		order: 1;
	}

	.lr {
		grid-column: span 2 / span 2;
	}

	.mr {
		grid-column: span 4 / span 4;
	}

	.nr {
		grid-column: span 3 / span 3;
	}

	.or {
		margin-left: auto;
		margin-right: auto;
	}

	.pr {
		margin-top: -3rem;
		margin-bottom: -3rem;
	}

	.qr {
		margin-top: 0px;
	}

	.rr {
		margin-left: 0.375rem;
	}

	.sr {
		margin-left: 0.25rem;
	}

	.tr {
		margin-left: 2rem;
	}

	.ur {
		margin-left: 0.75rem;
	}

	.vr {
		margin-top: 3rem;
	}

	.wr {
		margin-left: 2.25rem;
	}

	.xr {
		margin-top: 1.5rem;
	}

	.yr {
		margin-top: 2.5rem;
	}

	.zr {
		margin-top: 2rem;
	}

	.as {
		margin-left: 0.625rem;
	}

	.bs {
		margin-left: 0.5rem;
	}

	.cs {
		margin-left: 1rem;
	}

	.ds {
		margin-top: 4rem;
	}

	.es {
		display: block;
	}

	.fs {
		display: flex;
	}

	.gs {
		display: grid;
	}

	.hs {
		display: none;
	}

	.is {
		height: 1rem;
	}

	.js {
		width: auto;
	}

	.ks {
		width: 100%;
	}

	.ls {
		width: 66.666667%;
	}

	.ms {
		width: 1rem;
	}

	.ns {
		max-width: 24rem;
	}

	.os {
		max-width: 28rem;
	}

	.ps {
		max-width: 20rem;
	}

	.qs {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.rs {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.ss {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.ts {
		flex-direction: row;
	}

	.us {
		align-items: flex-start;
	}

	.vs {
		align-items: center;
	}

	.ws {
		justify-content: flex-end;
	}

	.xs {
		justify-content: center;
	}

	.ys {
		justify-content: space-between;
	}

	.zs {
		gap: 1.5rem;
	}

	.at {
		gap: 2rem;
	}

	.bt {
		-moz-column-gap: 1.25rem;
		     column-gap: 1.25rem;
	}

	.ct {
		-moz-column-gap: 2rem;
		     column-gap: 2rem;
	}

	.dt {
		row-gap: 4rem;
	}

	.et {
		row-gap: 3rem;
	}

	.ft {
		-moz-column-gap: 1rem;
		     column-gap: 1rem;
	}

	.gt {
		-moz-column-gap: 4rem;
		     column-gap: 4rem;
	}

	.ht {
		-moz-column-gap: 2.5rem;
		     column-gap: 2.5rem;
	}

	.it {
		-moz-column-gap: 5rem;
		     column-gap: 5rem;
	}

	.jt > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.625rem * var(--tw-space-x-reverse));
		margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.kt > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.5rem * var(--tw-space-x-reverse));
		margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.lt > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(1.25rem * var(--tw-space-x-reverse));
		margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.mt > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
	}

	.nt {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.ot {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.pt {
		border-top-width: 0px;
	}

	.qt {
		border-left-width: 1px;
	}

	.rt {
		padding: 1.5rem;
	}

	.st {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.tt {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.ut {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.vt {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	.wt {
		padding-left: 0px;
		padding-right: 0px;
	}

	.xt {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.yt {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.zt {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	.au {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.bu {
		padding-top: 0.375rem;
		padding-bottom: 0.375rem;
	}

	.cu {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.du {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
	}

	.eu {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.fu {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.gu {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.hu {
		padding-right: 1.25rem;
	}

	.iu {
		padding-right: 3.5rem;
	}

	.ju {
		padding-right: 0px;
	}

	.ku {
		padding-top: 4rem;
	}

	.lu {
		padding-right: 4rem;
	}

	.mu {
		padding-bottom: 4rem;
	}

	.nu {
		padding-bottom: 0px;
	}

	.ou {
		text-align: left;
	}

	.pu {
		text-align: right;
	}

	.qu {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.ru {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.su {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.tu {
		font-size: 3rem;
		line-height: 1;
	}

	.uu {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.vu {
		font-size: 0.75rem;
		line-height: 1rem;
	}
}
@media (min-width: 768px) {

	.wu {
		order: 2;
	}

	.xu {
		order: 1;
	}

	.yu {
		grid-column: span 2 / span 2;
	}

	.zu {
		grid-column: span 3 / span 3;
	}

	.av {
		margin-top: 3rem;
	}

	.bv {
		margin-top: 2.5rem;
	}

	.cv {
		margin-top: 0px;
	}

	.dv {
		margin-top: 1rem;
	}

	.ev {
		margin-top: 5rem;
	}

	.fv {
		margin-top: 4rem;
	}

	.gv {
		margin-top: 2rem;
	}

	.hv {
		display: block;
	}

	.iv {
		display: flex;
	}

	.jv {
		display: inline-flex;
	}

	.kv {
		display: none;
	}

	.lv {
		height: 2.75rem;
	}

	.mv {
		height: 1.5rem;
	}

	.nv {
		height: 3rem;
	}

	.ov {
		height: 100%;
	}

	.pv {
		width: 2.75rem;
	}

	.qv {
		width: 1.5rem;
	}

	.rv {
		width: 3rem;
	}

	.sv {
		max-width: 20rem;
	}

	.tv {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.uv {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.vv {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.wv {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.xv {
		flex-direction: column;
	}

	.yv {
		align-items: flex-end;
	}

	.zv {
		align-items: center;
	}

	.aw {
		align-items: stretch;
	}

	.bw {
		justify-content: flex-end;
	}

	.cw {
		justify-content: space-between;
	}

	.dw {
		row-gap: 0px;
	}

	.ew {
		-moz-column-gap: 3rem;
		     column-gap: 3rem;
	}

	.fw {
		row-gap: 2.5rem;
	}

	.gw > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0px * var(--tw-space-x-reverse));
		margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
	}

	.hw > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
	}

	.iw > :not([hidden]) ~ :not([hidden]) {
		--tw-divide-x-reverse: 0;
		border-right-width: calc(4px * var(--tw-divide-x-reverse));
		border-left-width: calc(4px * calc(1 - var(--tw-divide-x-reverse)));
	}

	.jw > :not([hidden]) ~ :not([hidden]) {
		--tw-divide-opacity: 1;
		border-color: rgba(250, 250, 250, var(--tw-divide-opacity));
	}

	.kw {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.lw {
		padding-bottom: 0.5rem;
	}

	.mw {
		text-align: left;
	}

	.nw {
		font-size: 3rem;
		line-height: 1;
	}

	.ow {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
@media (min-width: 1024px) {

	.pw,
.qw,
.rw,
.sw,
.tw,
.uw,
.vw,
.ww,
.xw,
.yw,
.zw,
.ax,
.bx,
.cx,
.dx,
.ex {
		position: relative;
		padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
	}

	.pw > *,
.qw > *,
.rw > *,
.sw > *,
.tw > *,
.uw > *,
.vw > *,
.ww > *,
.xw > *,
.yw > *,
.zw > *,
.ax > *,
.bx > *,
.cx > *,
.dx > *,
.ex > * {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.pw {
		--tw-aspect-w: 1;
	}

	.fx {
		--tw-aspect-h: 1;
	}

	.gx {
		position: absolute;
	}

	.hx {
		position: sticky;
	}

	.ix {
		top: 1.5rem;
	}

	.jx {
		top: 50%;
	}

	.kx {
		order: 2;
	}

	.lx {
		order: 1;
	}

	.mx {
		grid-column: span 3 / span 3;
	}

	.nx {
		grid-column: span 2 / span 2;
	}

	.ox {
		grid-column: span 4 / span 4;
	}

	.px {
		margin-left: 0px;
		margin-right: 0px;
	}

	.qx {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.rx {
		margin-top: 3.5rem;
	}

	.sx {
		margin-top: 1rem;
	}

	.tx {
		margin-left: 4rem;
	}

	.ux {
		margin-top: 4rem;
	}

	.vx {
		margin-top: 0px;
	}

	.wx {
		margin-left: 2rem;
	}

	.xx {
		margin-top: 5rem;
	}

	.yx {
		margin-top: 6rem;
	}

	.zx {
		margin-top: 2rem;
	}

	.ay {
		margin-top: 2.5rem;
	}

	.by {
		margin-top: 3rem;
	}

	.cy {
		margin-top: 1.25rem;
	}

	.dy {
		margin-left: 0px;
	}

	.ey {
		margin-left: 1.5rem;
	}

	.fy {
		margin-top: 0.25rem;
	}

	.gy {
		margin-left: -1px;
	}

	.hy {
		margin-top: -1px;
	}

	.iy {
		display: block;
	}

	.jy {
		display: flex;
	}

	.ky {
		display: grid;
	}

	.ly {
		display: none;
	}

	.my {
		height: 2rem;
	}

	.ny {
		height: 72px;
	}

	.oy {
		height: 100%;
	}

	.py {
		height: 1rem;
	}

	.qy {
		width: 50%;
	}

	.ry {
		width: 100%;
	}

	.sy {
		width: auto;
	}

	.ty {
		width: 1px;
	}

	.uy {
		max-width: 28rem;
	}

	.vy {
		max-width: 24rem;
	}

	.wy {
		max-width: none;
	}

	.xy {
		max-width: 56rem;
	}

	.yy {
		max-width: 64rem;
	}

	.zy {
		max-width: 20rem;
	}

	.az {
		flex: 1 1 0%;
	}

	.bz {
		--tw-translate-y: -50%;
		transform: var(--tw-transform);
	}

	.cz {
		--tw-translate-x: 50%;
		transform: var(--tw-transform);
	}

	.dz {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.ez {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.fz {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.gz {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}

	.hz {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.iz {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.jz {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.kz {
		flex-direction: row;
	}

	.lz {
		flex-direction: column;
	}

	.mz {
		align-items: flex-start;
	}

	.nz {
		align-items: flex-end;
	}

	.oz {
		align-items: center;
	}

	.pz {
		justify-content: flex-start;
	}

	.qz {
		justify-content: flex-end;
	}

	.rz {
		justify-content: center;
	}

	.sz {
		justify-content: space-between;
	}

	.tz {
		gap: 2rem;
	}

	.uz {
		gap: 1rem;
	}

	.vz {
		gap: 1.25rem;
	}

	.wz {
		gap: 0px;
	}

	.xz {
		-moz-column-gap: 3rem;
		     column-gap: 3rem;
	}

	.yz {
		-moz-column-gap: 4rem;
		     column-gap: 4rem;
	}

	.zz {
		-moz-column-gap: 0px;
		     column-gap: 0px;
	}

	.a1 {
		-moz-column-gap: 6rem;
		     column-gap: 6rem;
	}

	.b1 {
		-moz-column-gap: 5rem;
		     column-gap: 5rem;
	}

	.c1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(3rem * var(--tw-space-x-reverse));
		margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.d1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.625rem * var(--tw-space-x-reverse));
		margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.e1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.5rem * var(--tw-space-x-reverse));
		margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.f1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(1rem * var(--tw-space-x-reverse));
		margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.g1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(2.5rem * var(--tw-space-x-reverse));
		margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.h1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse));
	}

	.i1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(2rem * var(--tw-space-x-reverse));
		margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.j1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(3rem * var(--tw-space-y-reverse));
	}

	.k1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(2rem * var(--tw-space-y-reverse));
	}

	.l1 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
	}

	.m1 > :not([hidden]) ~ :not([hidden]) {
		--tw-divide-y-reverse: 0;
		border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
		border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
	}

	.n1 {
		border-left-width: 1px;
	}

	.o1 {
		border-top-width: 0px;
	}

	.p1 {
		border-bottom-width: 0px;
	}

	.q1 {
		border-right-width: 1px;
	}

	.r1 {
		background-color: rgba(24, 24, 27, 0.5);
	}

	.s1 {
		--tw-bg-opacity: 1;
		background-color: rgba(161, 161, 170, var(--tw-bg-opacity));
	}

	.t1 {
		-o-object-position: center;
		   object-position: center;
	}

	.u1 {
		padding: 2rem;
	}

	.v1 {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.w1 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.x1 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.y1 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.z1 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.a2 {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.b2 {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.c2 {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}

	.d2 {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.e2 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.f2 {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.g2 {
		padding-top: 5rem;
	}

	.h2 {
		padding-right: 4rem;
	}

	.i2 {
		padding-bottom: 5rem;
	}

	.j2 {
		text-align: left;
	}

	.k2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.l2 {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.m2 {
		font-size: 3rem;
		line-height: 1;
	}

	.n2 {
		line-height: 1.25;
	}
}
@media (min-width: 1280px) {

	.o2 {
		grid-column: span 4 / span 4;
	}

	.p2 {
		grid-column: span 3 / span 3;
	}

	.q2 {
		margin-top: 0px;
	}

	.r2 {
		margin-top: 4rem;
	}

	.s2 {
		margin-left: 6rem;
	}

	.t2 {
		margin-top: 8rem;
	}

	.u2 {
		margin-left: 0.5rem;
	}

	.v2 {
		display: block;
	}

	.w2 {
		max-width: 32rem;
	}

	.x2 {
		max-width: 24rem;
	}

	.y2 {
		max-width: 42rem;
	}

	.z2 {
		max-width: none;
	}

	.a3 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.b3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.c3 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.d3 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.e3 {
		flex-direction: row;
	}

	.f3 {
		align-items: center;
	}

	.g3 {
		gap: 3rem;
	}

	.h3 {
		gap: 0.75rem;
	}

	.i3 {
		-moz-column-gap: 4rem;
		     column-gap: 4rem;
	}

	.j3 {
		-moz-column-gap: 16rem;
		     column-gap: 16rem;
	}

	.k3 {
		-moz-column-gap: 0.25rem;
		     column-gap: 0.25rem;
	}

	.l3 {
		-moz-column-gap: 5rem;
		     column-gap: 5rem;
	}

	.m3 {
		-moz-column-gap: 6rem;
		     column-gap: 6rem;
	}

	.n3 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(3.5rem * var(--tw-space-x-reverse));
		margin-left: calc(3.5rem * calc(1 - var(--tw-space-x-reverse)));
	}

	.o3 {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	.p3 {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.q3 {
		padding-left: 10rem;
		padding-right: 10rem;
	}

	.r3 {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.s3 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.t3 {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	.u3 {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.v3 {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.w3 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.x3 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.y3 {
		padding-top: 8rem;
	}

	.z3 {
		padding-bottom: 11rem;
	}

	.a4 {
		padding-right: 0px;
	}

	.b4 {
		padding-top: 5rem;
	}

	.c4 {
		padding-bottom: 2.5rem;
	}

	.d4 {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.e4 {
		font-size: 3.75rem;
		line-height: 1;
	}

	.f4 {
		font-size: 3rem;
		line-height: 1;
	}

	.g4 {
		font-size: 4.5rem;
		line-height: 1;
	}

	.h4 {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.i4 {
		line-height: 1.25;
	}
}